@charset "utf-8";

/* CSS Document */

:root {
	
	/* #0091f7 in decimal RGB */
	--main-color: rgb(0,145,247);
	--main-color-rgb: 0,145,247;
	
}

.project-three_pattern,
.choose-block_one-icon,
.slider-three_title span:before,
.marketing-one .animation_mode .marketing-one_icon,
.price-block_one-list li:before,
.feature-block_three-icon{
	filter: grayscale(100%);
}