/* Constrc Construction Business HTML-5 Template */

/* RTL Style CSS Code */

.rtl .row,
.rtl .d-flex{
	flex-direction: row-reverse;
}

.rtl .main-menu .navigation > li{
	float:right;
}

.rtl .sticky-header .logo{
	float:right;
	padding-left:25px;
}

.rtl .main-menu{
	text-align:right;
}

.rtl .main-header .main-menu .navigation > li > ul > li > ul > li,
.rtl .main-header .main-menu .navigation > li > ul > li,
.rtl .main-menu .navigation > li > ul > li{
	text-align:right;
}

.rtl .main-header .main-menu .navigation > li > ul{
	padding:20px 25px 20px 25px;
}

.rtl .main-header .main-menu .navigation > li > ul > li > a:before{
	right:0px;
	left:auto;
	opacity: 0;
}

.rtl .main-menu .navigation > li > ul > li:hover > a{
	padding-left:0px !important;
	padding-right:30px;
}

.rtl .main-menu .navigation > li > ul > li > a:before{
	left:auto;
	right:8px;
}

.rtl .main-menu .navigation > li > ul > li.dropdown > a:after{
	right:auto;
	left:10px;
	transform:rotate(180deg);
}

.rtl .main-menu .navigation > li > ul > li > ul{
	left:auto;
	right:100%;
}

.rtl .main-menu .navigation li > ul > li.dropdown:hover > ul{
	
}

.rtl .main-header .main-menu .navigation > li > ul > li > ul{
	right:100%;
	left:auto;
}

.rtl .main-menu .navigation > li > ul{
	left:auto;
	right:0px;
}

.rtl .main-menu .navigation > li.dropdown:hover > ul{
	left:auto;
	right:0px;
}

.rtl .main-menu .navigation > li > ul > li > ul > li:hover > a{
	padding-left:0px;
	padding-right:30px;
}

.rtl .main-menu .navigation > li > ul > li > ul > li > a:before{
	left:auto;
	right:8px;
	opacity: 0;
}

.rtl .main-header .main-menu .navigation > li:first-child{
	margin-right: 0px;
}

.rtl .main-header .main-menu .navigation > li:last-child{
	margin-right: 25px;
}

.rtl .about-one,
.rtl .slider-two_authors,
.rtl .search-popup .form-group input[type="text"],
.rtl .search-popup .form-group input[type="search"]{
	text-align: right;
}

.rtl .service-one,
.rtl .about-sidebar .content-box,
.rtl .search-popup .form-group input[type="submit"],
.rtl .search-popup .form-group button{
	text-align: right;
}

.rtl .search-popup .form-group input[type="submit"],
.rtl .search-popup .form-group button{
	right: 0px;
	left: auto;
}

.rtl .main-header .header-lower .logo-box .logo{
	border:none;
	padding: 25px 0px 25px;
}

.rtl .about-sidebar_list li{
	padding-left:0px;
	padding-right:30px;
}

.rtl .about-sidebar_list li:before{
	right:0px;
	left:auto;
}

.rtl .about-sidebar .social-box{
	text-align:right;
	margin-right:35px;
}

.rtl .slider-one .slider-one_button .slider-one_video:before{
	left:auto;
	right:-18px;
}

.rtl .about-one_button{
	margin-top:200px;
}

.rtl .sec-title_title{
	padding-left:0px;
	justify-content:end;
}

.rtl .sec-title_title:before{
	display:none;
}

.rtl .about-one .sec-title_heading{
	position:relative;
	left:auto;
	top:0px;
}

.rtl .about-one_content-outer,
.rtl .about-one_image-column .column:nth-child(2) .image{
	margin-top:0px;
}

.rtl .service-one_title .service-one_arrow{
	left:8px;
	right:auto;
}

.rtl .project-block_one-location{
	flex-direction: row-reverse;
}

.rtl .contact-one,
.rtl .testimonial-block_one-inner,
.rtl .project-block_one-overlay_inner{
	text-align:right;
}

.rtl .newsletter-box .form-group input[type="text"],
.rtl .newsletter-box .form-group input[type="email"]{
	padding-right:20px;
	padding-left:20px;
	text-align:right;
}

.rtl .news-one,
.rtl .main-footer,
.rtl .banner-one,
.rtl .privacy-section,
.rtl .contact-form .form-group input[type="text"],
.rtl .contact-form .form-group input[type="password"],
.rtl .contact-form .form-group input[type="tel"],
.rtl .contact-form .form-group input[type="email"],
.rtl .contact-form .form-group textarea{
	text-align:right;
}

.rtl .testimonial-block_one-text{
	max-width:100%;
}

.rtl .testimonial-one .single-item_carousel-pagination{
	position:relative;
	top:auto;
	width:auto !important;
	text-align:left;
}

.rtl .testimonial-one .single-item_carousel-pagination .swiper-pagination-bullet{
	margin:0px 12px !important;
	display:inline-block !important;
}

.rtl .counter-block_one-inner{
	padding-left:0px;
	padding-right:40px;
	text-align:right;
}

.rtl .counter-block_one-outline{
	right:0px;
	left:auto;
}

.rtl .faq-one_image{
	margin-left:0px;
}

.rtl .faq-one_accordian-outer{
	padding-left:0px;
	text-align:right;
}

.rtl .accordion-box .block .icon-outer{
	left:12px;
	right:auto;
}

.rtl .contact-one .video-image{
	margin-top:40px;
}

.rtl .info-block_one-inner{
	padding-left:0px;
	padding-right:75px;
}

.rtl .price-block_one-list li:before,
.rtl .info-block_one-icon{
	right:0px;
	left:auto;
}

.rtl .price-block_one-list li{
	padding-left:0px;
	padding-right:25px;
}

.rtl .main-header.header-style-two .outer-box{
	margin-left:0px;
	margin-right:30px;
}

.rtl .banner-one_image{
	left:0px;
	right:auto;
}

.rtl .banner-one_subtitle span{
	color:var(--main-color);
}

.rtl .choose-one,
.rtl .footer-two,
.rtl .about-two,
.rtl .team-one,
.rtl .project-two,
.rtl .counter-three,
.rtl .testimonial-two,
.rtl .price-block_one-inner,
.rtl .counter-block_two-inner,
.rtl .news-block_two-inner,
.rtl .fluid-one .right-box_inner,
.rtl .slider-three_content-inner,
.rtl .service-block_one-inner,
.rtl .about-three_content-outer{
	text-align:right;
}

.rtl .testimonial-block_two-image{
	left:50px;
	right:auto;
}

.rtl .fluid-one_author-inner{
	text-align:right;
	padding-left:0px;
	padding-right:125px;
}

.rtl .fluid-one_author-image{
	right:0px;
	left:auto;
}

.rtl .fluid-one .sec-title_text{
	max-width:100%;
}

.rtl .feature-block_three-inner{
	text-align:right;
	padding-left:0px;
	padding-right:100px;
}

.rtl .feature-block_three-icon{
	left:auto;
	right:0px;
}

.rtl .footer-contact_list li{
	padding-left:0px;
	padding-right:35px;
}

.rtl .footer-contact_list li .icon{
	position:absolute;
	right:0px;
	left:auto;
}

.rtl .main-header.header-style-three .outer-box{
	margin-left:0px;
	margin-right:30px;
}

.rtl .main-header.header-style-three .header-lower .inner-container{
	padding-right:30px;
}

.rtl .main-header.header-style-three .social-box{
	margin-left:0px;
	margin-right:30px;
}

.rtl .about-three_images-outer{
	padding-left:0px;
}

.rtl .about-three_image-three,
.rtl .about-three_image-two{
	right:0px;
}

.rtl .about-three_phone-inner{
	padding-left:0px;
	padding-right:70px;
}

.rtl .about-three_phone-icon{
	right:0px;
	left:auto;
}

.rtl .customer-block_one-inner,
.rtl .project-block_two-content,
.rtl .service-block_three-inner{
	text-align:right;
}

.rtl .service-block_three-upper{
	padding-left:0px;
	padding-right:105px;
}

.rtl .service-block_three-icon{
	right:0px;
	left:auto;
}

.rtl .service-block_three_hover-image{
	display:none;
}

.rtl .choose-block_one-inner{
	padding-left:0px;
	padding-right:85px;
}

.rtl .choose-block_one-icon{
	left:auto;
	right:0px;
}

.rtl .choose-block_one-number{
	left:-120px;
	right:auto;
}

.rtl .choose-one_image-outer{
	text-align:left;
}

.rtl .customer-block_one-number{
	left:40px;
	right:auto;
}

.rtl .team-two,
.rtl .testimonial-three{
	text-align:right;
}

.rtl .contact-two .inner-container,
.rtl .testimonial-three .sec-title{
	text-align:right;
}

.rtl .testimonial-three .sec-title .sec-title_heading{
	display:inline-block;
}

.rtl .testimonial-three_arrow{
	left:0px;
	right:auto;
	z-index:99999;
}

.rtl .testimonial-block_three-author{
	text-align:right;
	padding-left:0px;
	padding-right:100px;
}

.rtl .testimonial-block_three-image{
	right:0px;
	left:auto;
}

.rtl .testimonial-block_three-quote{
	left:50px;
	right:auto;
}

.rtl .team-block_two-shares{
	left:40px;
	right:auto;
}

.rtl .contact-two_info-outer{
	padding-left:0px;
	padding-right:0px;
}

.rtl .info-block_two-inner{
	padding-left:0px;
	padding-right:75px;
	text-align:right;
}

.rtl .info-block_two-icon{
	left:auto;
	right:0px;
}

.rtl .footer-three,
.rtl .page-title,
.rtl .team-detail,
.rtl .testimonial-one,
.rtl .sidebar-page-container,
.rtl .contact-form_two .form-group input[type="text"],
.rtl .contact-form_two .form-group input[type="password"],
.rtl .contact-form_two .form-group input[type="tel"],
.rtl .contact-form_two .form-group input[type="email"],
.rtl .contact-form_two .form-group select,
.rtl .contact-form_two .form-group textarea{
	text-align:right;
}

.rtl .contact-two_image{
	left:0px;
	right:auto;
}

.rtl .news-widget-block{
	padding-left:0px;
	padding-right:90px;
}

.rtl .news-widget_image{
	right:0px;
	left:auto;
}

.rtl .news-widget_post-date{
	padding-left:0px;
	padding-right:22px;
}

.rtl .news-widget_post-date::before{
	right:0px;
	left:auto;
}

.rtl .footer-three_contacts li{
	padding-left:0px;
	padding-right:35px;
}

.rtl .footer-three_contacts li .icon{
	right:0px;
	left:auto;
}

.rtl .about-three_content-outer{
	margin-right:0px;
}

.rtl .privacy-section .privacy-list li{
	padding-left:0px;
	padding-right:30px;
}

.rtl .privacy-section .privacy-list li:before{
	right:0px;
	left:auto;
}

.rtl .default-count-box{
	left:0px;
	right:auto;
}

.rtl .category-list li span{
	left:6px;
	right:auto;
}

.rtl .service-detail_list li{
	padding-left:0px;
	padding-right:35px;
	text-align:right;
}

.rtl .service-detail_list li i{
	left:auto;
	right:0px;
}

.rtl .project-detail,
.rtl .shop-detail .prod-tabs,
.rtl .project-block_three-overlay{
	text-align:right;
}

.rtl .project-detail_location,
.rtl .project-block_three-location{
	flex-direction: row-reverse;
}

.rtl .shop-detail_content-column .inner-column{
	padding:0px 0px;
	text-align:right;
}

.rtl .item-quantity{
	margin-left:20px;
	margin-right:0px;
}

.rtl .comment-box .comment{
	text-align:right;
	padding-left:0px;
	padding-right:80px;
}

.rtl .comment-box .author-thumb{
	right:0px;
	left:auto;
}

.rtl .contact-three,
.rtl .register-one,
.rtl .checkout-section,
.rtl .shoping-cart-section,
.rtl .shipping-form .form-group input[type="text"],
.rtl .shipping-form .form-group input[type="password"],
.rtl .shipping-form .form-group input[type="tel"],
.rtl .shipping-form .form-group input[type="email"],
.rtl .shipping-form .form-group textarea,
.rtl .shipping-form .form-group .ui-selectmenu-button.ui-button,
.rtl .comment-form .form-group input[type="text"],
.rtl .comment-form .form-group input[type="password"],
.rtl .comment-form .form-group input[type="tel"],
.rtl .comment-form .form-group input[type="email"],
.rtl .comment-form .form-group textarea{
	text-align:right;
}

.rtl .order-totals li span{
	left:25px;
	right:auto;
}

.rtl .order-box .order-total span,
.rtl .cart-totals li span{
	left:0px;
	right:auto;
}

.rtl .coming-soon .emailed-form .form-group input[type="text"],
.rtl .coming-soon .emailed-form .form-group input[type="tel"],
.rtl .coming-soon .emailed-form .form-group input[type="email"],
.rtl .coming-soon .emailed-form .form-group textarea{
	text-align:right;
	padding-right:25px;
}

.rtl .coming-soon .emailed-form .form-group input[type="submit"],
.rtl .coming-soon .emailed-form button{
	left:10px;
	right:auto;
}

.rtl .blog-detail_list li{
	padding-left:0px;
	padding-right:20px;
}

.rtl .blog-detail_list li:before{
	right:0px;
	left:auto;
}

.rtl .blog-author-post_inner{
	padding-left:0px;
	padding-right:300px;
}

.rtl .blog-detail_author-image{
	right:0px;
	left:auto;
}

.rtl .sidebar-page-container .comments-area .comment-box .reply-btn{
	position:relative;
	left:0px;
	right:auto;
	top:0px;
}

.rtl .category-list_two li a:before{
	right:auto;
	left:25px;
}

.rtl .comment-form-outer .rating{
	margin-left:0px;
	margin-right:20px;
}

.rtl .contact-three_info-outer{
	padding-left:0px;
}

.rtl .mobile-menu .menu-box{
	text-align: right;
}

.rtl .main-header .mobile-menu .navigation li.dropdown .dropdown-btn{
	left: 0px;
	right: auto;
}

.rtl .main-header .mobile-menu .navigation li.dropdown .dropdown-btn::after{
	right: 0px;
	left: auto;
}

/* Constrc Construction Business HTML-5 Template */

@media only screen and (max-width: 2000px){
	
	
	
}

@media only screen and (max-width: 1720px){

	

}

@media only screen and (max-width: 1600px){
	
}

@media only screen and (max-width: 1650px){

	

}

@media only screen and (max-width: 1550px){

	

}

@media only screen and (max-width: 1500px){
	
}

@media only screen and (max-width: 1400px){

	

}

@media only screen and (max-width: 1300px){
	
}

@media only screen and (max-width: 1240px){
	
}

@media only screen and (max-width: 1140px){
	
}

@media only screen and (max-width: 768px){
	
}

@media only screen and (max-width: 1032px){
	
}

@media only screen and (max-width: 1023px){
	
}

@media only screen and (max-width: 990px){
	
	.rtl .about-one_button {
		margin-top: 40px;
	}
	
	.rtl .service-one_content-outer{
		padding-left:0px;
	}
	
}

@media only screen and (max-width: 820px){
	
}

@media only screen and (max-width: 767px){
	
	.rtl .counter-block_one-inner{
		padding-right:0px;
	}
	
	.rtl .testimonial-one .single-item_carousel-pagination{
		margin-top:25px;
	}
	
	.rtl .price-block_one-featured{
		left:15px;
		right:auto;
	}
	
	.rtl .banner-one_video{
		position:relative;
		margin-bottom:25px;
	}
	
	.rtl .banner-one {
		padding-top: 120px;
	}
	
}

@media only screen and (max-width: 599px){
	
	.rtl .accordion-box .block .acc-btn {
		font-size:16px;
		line-height:28px;
		padding: 22px 25px 22px 50px;
	}
	
	.rtl .main-header.header-style-three .outer-box{
		margin-right:0px;
	}
	
	.rtl .blog-author-post_inner,
	.rtl .comment-box .comment{
		padding-right:0px;
	}
	
	
	
}

@media only screen and (max-width: 479px) {
	
	.rtl .project-detail_list li{
		margin-right:0px;
	}
	
	.post-widget .post h4{
		line-height: 26px;
		font-size: 14px;
	}
	
	.category-list_two li a{
		font-size:16px;
		padding:20px 20px 20px 30px;
	}
	
}